<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Downloader</title>
</head>
<body>
    <h1>File Downloader</h1>
    <form action="/download" method="post">
        <label for="folder">Select Folder:</label>
        <select name="folder" id="folder">
            {% for folder in folders %}
                <option value="{{ folder }}">{{ folder }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="file">Select File:</label>
        <select name="file" id="file" multiple>
            {% for file in files %}
                <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Download Selected File(s)</button>
    </form>
</body>
</html>



_---------;_

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Downloader</title>
</head>
<body>
    <h1>File Downloader</h1>
    <form action="/" method="post">
        <label for="nas_path">NAS Path:</label>
        <input type="text" id="nas_path" name="nas_path"><br><br>
        <label for="files">Select Files:</label><br>
        {% for file in nas_files %}
        <input type="checkbox" id="{{ file }}" name="files" value="{{ file }}">
        <label for="{{ file }}">{{ file }}</label><br>
        {% endfor %}
        <br>
        <input type="submit" value="Download Selected Files">
    </form>
</body>
</html>